D2UserManagment/D2UserClient/Service References/D2UserServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="D2User" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_ID2User_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ID2User_GetD2UserPassword_InputMessage">
    <wsdl:part name="parameters" element="tns:GetD2UserPassword" />
  </wsdl:message>
  <wsdl:message name="ID2User_GetD2UserPassword_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetD2UserPasswordResponse" />
  </wsdl:message>
  <wsdl:message name="ID2User_SubscribeOnPasswordChange_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeOnPasswordChange" />
  </wsdl:message>
  <wsdl:message name="ID2User_SubscribeOnPasswordChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeOnPasswordChangeResponse" />
  </wsdl:message>
  <wsdl:message name="ID2User_UnsubscribeFromPasswordChange_InputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeFromPasswordChange" />
  </wsdl:message>
  <wsdl:message name="ID2User_UnsubscribeFromPasswordChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeFromPasswordChangeResponse" />
  </wsdl:message>
  <wsdl:message name="ID2User_NotifyPasswordChange_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:NotifyPasswordChange" />
  </wsdl:message>
  <wsdl:portType name="ID2User">
    <wsdl:operation name="GetD2UserPassword">
      <wsdl:input wsaw:Action="http://tempuri.org/ID2User/GetD2UserPassword" message="tns:ID2User_GetD2UserPassword_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ID2User/GetD2UserPasswordResponse" message="tns:ID2User_GetD2UserPassword_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SubscribeOnPasswordChange">
      <wsdl:input wsaw:Action="http://tempuri.org/ID2User/SubscribeOnPasswordChange" message="tns:ID2User_SubscribeOnPasswordChange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ID2User/SubscribeOnPasswordChangeResponse" message="tns:ID2User_SubscribeOnPasswordChange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UnsubscribeFromPasswordChange">
      <wsdl:input wsaw:Action="http://tempuri.org/ID2User/UnsubscribeFromPasswordChange" message="tns:ID2User_UnsubscribeFromPasswordChange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ID2User/UnsubscribeFromPasswordChangeResponse" message="tns:ID2User_UnsubscribeFromPasswordChange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NotifyPasswordChange">
      <wsdl:output wsaw:Action="http://tempuri.org/ID2User/NotifyPasswordChange" message="tns:ID2User_NotifyPasswordChange_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_ID2User" type="tns:ID2User">
    <wsp:PolicyReference URI="#NetTcpBinding_ID2User_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetD2UserPassword">
      <soap12:operation soapAction="http://tempuri.org/ID2User/GetD2UserPassword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubscribeOnPasswordChange">
      <soap12:operation soapAction="http://tempuri.org/ID2User/SubscribeOnPasswordChange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnsubscribeFromPasswordChange">
      <soap12:operation soapAction="http://tempuri.org/ID2User/UnsubscribeFromPasswordChange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NotifyPasswordChange">
      <soap12:operation soapAction="http://tempuri.org/ID2User/NotifyPasswordChange" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="D2User">
    <wsdl:port name="NetTcpBinding_ID2User" binding="tns:NetTcpBinding_ID2User">
      <soap12:address location="net.tcp://192.168.1.239:47700/D2SecService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://192.168.1.239:47700/D2SecService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>